body {
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



/* display_book */

.display_book {
  background-image: url("https://res.cloudinary.com/marki/image/upload/v1677779230/Book/images_mmtbpo.jpg");
  color: black;
  background-size: "cover";
  background-repeat: "no-repeat";
  min-height: "1000vh";
  font-family: Arial, Helvetica, sans-serif;
}

